
body {        
    font-family: 'Titillium Web', sans-serif;
    background-color: #FFFCFA;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 100px;
}
#food-logo {
    height: 100px;
    width: 50px;
    
}
main {
    padding: 30px;
}

.logo-right { 
    display: flex;
    justify-content: right;
    align-items: center;

}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;

    

}
.header-left {
    display: flex;
    flex-direction: column;
    align-self: left !important;
} 
.header-left h1 {
    font-family: cursive;
    font-size: 30px;
}
.outer-div {
    display: flex;
    flex-direction: row;
}

.logo-right img {
    width: 25px;
    height: 25px;
}

header img {
    height: 100%;
    object-fit: contain;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

footer {
    background-color: #FAF0EA;
    padding: 10px;
}
#subtitle {
    display:flex;
    flex-direction: column;
}
#print-icon {
    display: flex;
    flex-direction: row;
}
.image-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.recipe-section {

    background-image: url("https://raw.githubusercontent.com/alchemycodelab/foundations-i-june-2021/main/curriculum/10-review-day/LAB-10/LAB-10a-CHOCOLATE-PIZZA/lab-assets/list-bg.png?token=ATZTYI6WZROV5ITLMFVP5VDA6YG26");

}


#print-icon {
    height: 20px;
    font-size: 15px;
    color: gray;
    margin-right: 100px;
    padding-right: 200px;
}
#share-recipe {
    border: 1px solid brown;
    width: 110px;
    align-items: center;
    color: white;
    background-color: brown;
    display: flex; 
    justify-content: space-between;
}

.profile {
    display: flex;
    justify-content: space-between;
    
    

}

article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}