
body {        
    font-family: 'Titillium Web', sans-serif;
    background-color: #FFFCFA;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 100px;
}
#food-logo {
    height: 50px;
    width: 50px;
    
}
main {
    padding: 30px;
}

.logo-right { 
    display: flex;
    justify-content: right;

}
header {
    background-color: #A2D7D2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;

}
.header-left {
    display: flex;
    flex-direction: column;
    align-self: left !important;
       
} 

.outer-div {
 
    display: flex;
    flex-direction: row;
    

}

.logo-right img {
    width: 25px;
    height: 25px;
}

header img {
    height: 100%;
    object-fit: contain;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

footer {
    background-color: #FAF0EA;
    padding: 10px;
}
